@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

/* Font used: Robato Condensed, Bold 700 - https://fonts.google.com/specimen/Roboto+Condensed?preview.size=29  */


.App {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 160%;
  text-transform: uppercase;
  margin: 1%;
  word-spacing: 4px;
  /* background-color: #E5E4E2; */
}

.List {
  white-space: nowrap;
}




/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
} */
/*
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
